<div class="header">
    <a class="header__logo" href=""><img src="/assets/logo.svg" alt=""></a>
    <div class="header-nav">
        <a class="header-nav__home" href="" id="current">HOME</a>
        <a class="header-nav__about" href="">ABOUT</a>
        <a class="header-nav__archive" href="">ARCHIVE</a>
        <a class="header-nav__contact" href="">CONTACT</a>
        <a class="header-nav__search" href=""><img class="header-nav__search" href="" src="/assets/search_footer/search_normal.svg"></img></a>
    </div>
</div>