<div class="footer">
    <div class="footer__logo">Palo Alto</div>
    <div class="footer-nav">
            <a class="footer-nav__home" href="" id="current">HOME</a>
            <a class="footer-nav__about" href="">ABOUT</a>
            <a class="footer-nav__contact" href="">CONTACT</a>  
            <a class="footer-nav__archive" href="">ARCHIVE</a>
            <a class="header-nav_search"href=""><img class="header-nav__search" href="" src="/assets/search_footer/search_inactive.svg"></img></a>
    </div>
    <div class="footer__discription"> Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</div>
    <div class="footer__copyright">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <span class="copyright-team">PixelBuddha Team</span></div>
    <div class="footer__social">
        <a class="social-facebook" href="">
            <img src="/assets/social_medias/facebook.svg" alt="">
        </a>

        <a class="social-twitter" href="">
            <img src="/assets/social_medias/twitter.svg" alt="">
        </a>

        <a class="social-insta" href="">
            <img src="/assets/social_medias/instagram.svg" alt="">
        </a>

        <a class="social-pint" href="">
            <img src="/assets/social_medias/pinterest.svg" alt="">
        </a>
    </div>
</div>