body {
  margin: 0;
  background-color: $color-lightest-grey;
  padding: 0px;
  background-color: #f7f9fc;
  line-height: 25px;
  color: black;
  font-family: "Lato";
  font-weight: 700;
  margin: 0px;
}

#root {

}
